.ui-jqgrid .ui-jqgrid-htable th div {
    height: auto;
    overflow: hidden;
    padding-right: 4px;
    padding-top: 2px;
    position: relative;
    vertical-align: text-top;
    white-space: normal !important;
}

.syncItems {
    color: red !important;
}

.ui-dialog-titlebar-close {
    font-size: 0px !important;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-top: -3.4%;
    margin-bottom: 1%;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ref-menu {
    max-height: 65vh;
    overflow-y: auto;
    width: 240px !important;
}

.smart-style-3 nav > ul > li > a > i {
    color: rgb(36, 114, 179) !important;
    font-size: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ui-jqgrid tr.jqgrow td {
    white-space: pre-wrap !important;
    /*word-wrap:normal;*/
    /*word-break:break-word;*/
}

.navbar a.disabled {
    color: #d0cccc;
}

    .navbar a.disabled i {
        color: #d0cccc;
    }

    .navbar a.disabled:hover {
        color: #d0cccc !important;
        cursor: default;
    }

    .navbar a.disabled i:hover {
        color: #d0cccc !important;
        cursor: default;
    }

.btn {
    text-transform: capitalize;
}

/*navbar*/
.navbar {
    width: 100%;
    /*background-color: #555;*/
    overflow: auto;
    margin-top: -8px;
    margin-bottom: -5px;
    /*z-index: -9999999;*/
    margin-left: 30px;
}


    /* Navbar links */
    .navbar a {
        float: left;
        text-align: center;
        padding: 5px;
        color: black;
        text-decoration: none;
        font-size: 17px;
        margin-left: 20px;
        cursor: pointer;
    }

.hrstyle {
    margin-top: -2px !important;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,.25);
    border-bottom: 3px solid #fff;
    border-top: 0px solid #fff;
}

/* Navbar links on mouse-over */
.navbar a:hover {
    color: #f59163 !important;
}

.navbar a i:hover {
    color: #f59163 !important;
}



/* Current/active navbar link */
/*.active {
            background-color: #f59163;
        }*/

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.font-30 {
    font-size: 20px !important;
    width: 1.885714em !important;
    color: #4b87a0;
    font-weight: 600 !important;
}

.text-nav {
    float: right;
    padding-top: 2px;
    font-size: 14px;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 30px;
    padding: 0 2px 0 2px;
}

    .ui-jqgrid .ui-jqgrid-htable th div {
        overflow: hidden;
        height: 30px;
        position: fixed;
    }

.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
    height: 17px;
    margin-top: -7px !important;
}

th.ui-th-column div {
    white-space: normal !important;
    height: auto !important;
    padding: 2px;
}

.fc-head-container thead tr, .table thead tr {
    height: auto;
}

/*
 *  STYLE 4
 */

#style-4::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#style-4::-webkit-scrollbar-thumb {
    background-color: #9d9b9b;
    /*border: 2px solid #555555;*/
}

.ui-jqgrid .ui-jqgrid-btable {
    cursor: pointer;
}

.menu-on-top aside#left-panel nav > ul > li > a > i {
    font-size: 32px !important;
}

.menu-on-top .menu-item-parent {
    font-size: 12px !important;
}

.menu-on-top aside#left-panel nav > ul > li > a > i.reference-table {
    color: #f59163 !important;
}

.menu-on-top aside#left-panel nav > ul > li > a > i.fa.fa-cog {
    color: gray !important;
}

#subheaderMenu .navbar {
    margin-bottom: -10px;
}

    #subheaderMenu .navbar .font-30 {
        font-size: 14px !important;
    }

    #subheaderMenu .navbar .search-bar {
        float: right;
        margin-top: 3px;
        margin-right: 20px;
    }

        #subheaderMenu .navbar .search-bar input {
            width: 200px;
            height: 25px;
        }

.menu-on-top #main.subheader {
    margin-left: 0 !important;
    margin-top: 120px !important;
}

/* Header CSS*/
#header .right-part {
    width: 200px;
}

#project-context, .project-context {
    padding: 15px 0px !important;
    position: relative;
}

#header .project-context {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 420px);
}

#userDetails span#activity {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: default !important;
    display: inline-block;
    font-weight: 700;
    height: 24px;
    width: 24px;
    padding: 2px;
    text-align: center;
    text-decoration: none !important;
    -moz-user-select: none;
    -webkit-user-select: none;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #bfbfbf;
    color: #c4bab6;
    font-size: 19px;
    margin: 10px 0 0;
    position: relative;
    top: -17px;
}

#userDetails span#activity, #userDetails > a {
    background-color: #DD7C37;
    background-image: -moz-linear-gradient(top,#dd7c37,#b9662b);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#b9662b),to(#b9662b));
    background-image: -webkit-linear-gradient(top,#dd7c37,#b9662b);
    background-image: -o-linear-gradient(top,#dd7c37,#b9662b);
    background-image: linear-gradient(to bottom,#dd7c37,#b9662b);
    color: #fff !important;
    border: 1px solid #f09d61;
    text-shadow: #985813 0 -1px;
}

#userDetails > span {
    display: inline-block;
    height: 39px;
    float: left;
}

#userDetails *, .login-info, .login-info *, .minified .menu-item-parent {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#userDetails #lblUsername {
    padding-left: 10px;
    color: #ffffff;
}

#tableDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    text-transform: initial;
    text-shadow: none;
    font-size: 13px;
}

.switch-control {
    display: flex;
    flex-direction: row;
    width: 120px;
}

    .switch-control.disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
    }

    .switch-control > label:first-of-type {
        position: relative;
        top: 8px;
        padding-right: 10px;
        cursor: pointer;
    }
    .switch-control.disabled > label {
        color: #000;
    }

    .switch-control .toggle-btn {
        width: 67px;
        height: 27px;
        margin: 8px;
        border-radius: 50px;
        display: inline-block;
        position: relative;
        background: #111;
        cursor: pointer;
        -webkit-transition: background-color 0.4s ease-in-out;
        -moz-transition: background-color 0.4s ease-in-out;
        -o-transition: background-color 0.4s ease-in-out;
        transition: background-color 0.4s ease-in-out;
        cursor: pointer;
    }

        .switch-control .toggle-btn.active {
            background: #111;
        }

.switch-control .toggle-btn.active .round-btn {
    left: 40px;
}

.switch-control .toggle-btn .round-btn {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.switch-control .toggle-btn .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

    .switch-control .toggle-btn.small {
        width: 40px;
        height: 20px;
    }

        .switch-control .toggle-btn.small.active .round-btn {
            left: 22px;
        }

        .switch-control .toggle-btn.small .round-btn {
            width: 15px;
            height: 15px;
            margin-top: -7.5px;
            left: 3px;
        }

#content {
    padding: 40px 14px !important;
}

body.menu-on-top.fixed-header {
    overflow-x: hidden !important;
}

.ui-jqgrid .ui-jqgrid-hdiv {
    max-width: calc(100vw - 65px);
    overflow: hidden;
}

.ui-jqgrid .ui-jqgrid-bdiv {
    max-width: calc(100vw - 65px);
    overflow: auto;
}

.ui-jqgrid-pager {
    max-width: calc(100vw - 65px);
    overflow: hidden;
}

#gbox_jqGrid {
    max-width: calc(100vw - 65px);
}

.secure-code {
    background: rgb(248, 222, 248) !important;
}

.disabled {
    pointer-events: none;
}

.switch-controls {
    margin: 0 35px 0px !important;
    display: inline-flex;
}

#gbox_jqGrid .right {
    padding-right: 14px;
}

#gbox_jqGrid .left {
    padding-left: 14px;
}

.ui-jqgrid tr.jqgrow td.no-wrap {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

a#navbtnwrap.wrap {
    color: red;
}

a#navbtnwrap.wrap .glyphicon {
    color: red;
}

#subheaderMenu .navbar .select-loan {
    float: right;
    margin-top: 3px;
    margin-right: 20px;
    display: none;
}

    #subheaderMenu .navbar .select-loan .glyphicon {
        cursor: pointer;
    }

    #subheaderMenu .navbar .select-loan input {
        width: 200px;
        height: 25px;
    }

/**Loan Transaction Table CSS*/

.loan-transaction-table .switch-controls {
    margin: 0 35px 0px !important;
}

    .loan-transaction-table .switch-controls .switch-control {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
    }

.loan-transaction-table .main-content > div {
    margin-left: 50px;
}

.loan-transaction-table .main-content .ui-jqgrid .ui-jqgrid-hdiv {
    max-width: calc(100vw - 105px);
    overflow: hidden;
}

.loan-transaction-table .main-content .ui-jqgrid .ui-jqgrid-bdiv {
    max-width: calc(100vw - 105px);
    overflow: auto;
}

.loan-transaction-table .main-content .ui-jqgrid-pager {
    max-width: calc(100vw - 105px);
    overflow: hidden;
}

.loan-transaction-table .main-content #gbox_jqGrid {
    max-width: calc(100vw - 105px);
}

/**Loan Transaction Table CSS*/


/*Reference Table CSS*/

.reference-table .main-content > div:not(#truncateTable) {
    margin-left: 50px;
} 
.reference-table .main-content .ui-jqgrid .ui-jqgrid-hdiv {
    max-width: calc(100vw - 105px);
    overflow: hidden;
} 
.reference-table .main-content .ui-jqgrid .ui-jqgrid-bdiv {
    max-width: calc(100vw - 105px);
    overflow: auto;
} 
.reference-table .main-content .ui-jqgrid-pager {
    max-width: calc(100vw - 105px);
    overflow: hidden;
} 
.reference-table .main-content #gbox_jqGrid {
    max-width: calc(100vw - 105px);
}

/*Reference Table CSS*/