﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;
using System.Net;
using System.IO;
using System.Text;

public class Handler : IHttpHandler
{

    public void ProcessRequest(HttpContext context)
    {
        //if (context.Request.Files.Count > 0)
        //{

        //    HttpFileCollection files = context.Request.Files;
        //    for (int i = 0; i < files.Count; i++)
        //    {
        //        HttpPostedFile file = files[i];
        //        string urlpath = context.Server.MapPath(@"~\uploads\");
        //        string sav = Path.Combine(urlpath, file.FileName);
        //        file.SaveAs(sav);

        //    }
        //    context.Response.ContentType = "text/plain";
        //    context.Response.Write("File Uploaded Successfully!");
        //}
        //===================================================
        string siteUrl = "ftp://hostedresources.com/uploads";
        string fileName = context.Request.Form["fname"];

        Stream streamObj = context.Request.Files[0].InputStream;
        Byte[] buffer = new Byte[context.Request.Files[0].ContentLength];
        streamObj.Read(buffer, 0, buffer.Length);
        streamObj.Close();
        streamObj = null;

        using (WebClient client = new WebClient())
        {
            client.Credentials = new NetworkCredential("mi3-wts8\\webuser", "Lenda@123");
            client.BaseAddress = siteUrl;
            client.UploadData(fileName, buffer);
        }
        

    }

    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

}