﻿<%@ Page Title="" Language="C#" MasterPageFile="~/gp_Master.master" AutoEventWireup="true" CodeFile="MyTaskLog.aspx.cs" Inherits="admin_MyTaskLog" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <div class="container" style="padding-top: 25px;">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-6" style="padding-left: 30px;">
                    <div class="form-group" runat="server" id="divTaskDescriptoin">
                        <b>
                            <asp:Label runat="server" ID="lbltaskdesc"></asp:Label></b>
                    </div>

                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <asp:Label ID="lbl_table" runat="server" Text="lbl_table"></asp:Label>
                    </div>
                </div>
                <%-- <div class="col-md-3">
                </div>--%>
            </div>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="contentBodyScript" runat="Server">
</asp:Content>

