﻿<%@ Page Title="" Language="C#" MasterPageFile="~/gp_Master.master" AutoEventWireup="true" CodeFile="ReferenceQuestionsViewChildrens.aspx.cs" Inherits="admin_ReferenceQuestionsViewChildrens" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="col-md-2">
                    <div class="form-inline">
                        <div class="form-group">
                                <a href="ReferenceQuestions.aspx" class="btn btn-primary">Back</a>
                        </div>
                    </div>
                </div>
    <div class="row">
        <div class="col-md-11" style="padding-left: 51px;">
            <asp:Label ID="lbl_table" runat="server" Text="lbl_table"></asp:Label>
        </div>
    </div>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="contentBodyScript" Runat="Server">
</asp:Content>

