﻿<%@ Page Title="" Language="C#" MasterPageFile="~/gp_Master.master" AutoEventWireup="true" CodeFile="sync_full_loan.aspx.cs" Inherits="sync_full_loan" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <div class="row">

        <section id="widget-grid" class="">

             <div class="row">

                <article class="col-lg-12">

                    <!-- Widget ID (each widget will need unique ID)-->
                    <div class="jarviswidget" id="wid-id-0">

                        <header>
                            <span class="widget-icon"><i class="fa fa-comments"></i></span>
                            <h2>OMR Form Listing</h2>

                        </header>


                        <!-- widget div-->
                     

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body">
                            
                            
                                <div id="movieForm" class="form-horizontal">

                           <fieldset>
                                <div class="form-actions">
                                   
                                   <asp:Label ID="lbl_top_links" runat="server" Text="Links"></asp:Label>
                                    </div>
                         
                                   <div class="form-group">
                                            <label class="col-md-2 control-label">Search</label>
                                            <div class="col-md-4">
                                                <asp:TextBox ID="txt_search" runat="server"></asp:TextBox>   
                                                <asp:Button ID="btn_search" runat="server" Text="Button" />
                                            </div>
                                        </div>
                               <asp:Label ID="lbl_table" runat="server" Text="lbl_table"></asp:Label>
                              
                                   <table id='datatable_fixed_column' class='table table-striped table-bordered'>
                                  <thead>
                                   <tr>
                                     <th >Form</th>
                                       <th >Action</th>
                           
                                    </tr>
                                     </thead>
                                       <tbody>

                                       </tbody>
                                   </table>

                                 
                               </fieldset>
                                    </div>
                                </div>
                        </div>
                                    </article>
                 </div>
            </section>
           </div>
    
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="contentBodyScript" Runat="Server">
    <script>
       
        
     
     



    </script>
</asp:Content>

