﻿<%@ Page Title="User Maintainance" Language="C#" MasterPageFile="~/gp_Master.master" AutoEventWireup="true" CodeFile="UserManagementNew.aspx.cs" Inherits="admin_UserManagementNew" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="contentBodyScript" Runat="Server">
</asp:Content>

